@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');


.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    background-color: rgb(234, 206, 149);
}
h1 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 30px !important;
    color: #706349;
    font-family: 'Lato', sans-serif;
}
.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.image {
    height: 125px;
    width: 125px;
}
.card {
    margin: 25px;
    padding: 25px;
    background: rgb(219,211,193);
    background: linear-gradient(90deg, rgba(219,211,193,1) 0%, rgba(233,180,72,1) 76%, rgba(237,144,37,1) 100%);
    border: 1px solid orange;
    outline: none;
    -webkit-box-shadow: 7px 10px 19px 3px rgba(255,164,33,0.78); 
    box-shadow: 7px 10px 19px 3px rgba(255,164,33,0.78);
    transition: .2s all ease-in-out;
}
.card:hover {
    transform: scale(1.02);
}
.text-black-50 {
    text-transform: uppercase;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
}
.gray-400 {
    font-family: 'Lato', sans-serif;
}
p {
    color: rgb(64, 61, 61);
    font-weight: 400;
    font-family: 'Lato', sans-serif;
    text-transform: capitalize;
}
.btn {
    margin: 10px 0;
    color: rgb(237, 190, 104);
    font-family: 'Lato', sans-serif;
}
.btn:hover {
    cursor: pointer;
}
.display {
    display: inline-block;
    visibility: visible;
    margin-left: 10px;
}
.no-display {
    display: none;
    visibility: hidden;
    margin: 0;
}
.hidden-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    padding: 25px;
}
.hidden-p {
    font-size: 12px;
    margin: 10px;
}
.hidden-span {
    font-size: 12px;
}
